<div class="w-full py-[32px] pl-[32px] flex items-center justify-center bg-[#fff]">
    <div class="w-1/2 h-[940px] p-[64px] bg-[#27C5D0] rounded-[20px] overflow-hidden relative flex flex-col justify-between">
        <div class="flex flex-col gap-[24px]">
            <div class="flex items-center gap-[16px] ">
                <img src="../../../assets/icons/logo.svg " alt=" ">
                <img src="../../../assets/icons/mybank.svg " alt=" ">
            </div>
            <div class="flex flex-col z-[2222]">
                <h1 class="text-[#fff] ">Добро пожаловать в MyBank</h1>
                <h3 class="text-[#fff] ">Покупайте и продавайте свои автомобили удобно и легко с нами</h3>
            </div>
        </div>
        <h3 class="b5 z-[2222] text-[#fff] ">Вся безопасность полностью реализована и гарантирована «MyBank».</h3>
        <img class="z-[1] absolute bottom-0 right-0 " src="../../../assets/images/auto-3.png " alt=" ">
    </div>
    <app-login-input class="w-1/2" *ngIf="showLoginInput" (loginSuccess)="onLoginSuccess()"></app-login-input>
    <app-otp-input class="w-1/2" *ngIf="showOtpInput" (otpSuccess)="onOtpSuccess()" (navigateToLogin)="onOtpBackToLogin()"></app-otp-input>
    <app-password-input class="w-1/2" *ngIf="showPasswordInput" (passwordSubmit)="onPasswordSuccess()"></app-password-input>
</div>