<section class="container mx-auto lg:pb-[40px]">
  <div class="flex flex-col lg:gap-[24px] sm:gap-[12px] mobile:gap-[8px]">
    <div class="flex justify-between rounded-[30px] bg-custom-gradient
             relative mobile:h-[430px] mobile:relative overflow-hidden
             hover:cursor-pointer bg-banner-gradient">
      <div class="lg:py-[50px] lg:pl-[50px]
                        md:py-[40px] md:pl-[40px]
                        mobile:w-full mobile:p-[24px]
                        flex flex-col justify-between">
        <div class="flex flex-col lg:gap-[24px] sm:gap-[20px] mobile:gap-[16px] 2xl:z-[1] xl:z-index[1] z-[9999]">
          @if(bannerList() && bannerList()[currentIndex()]){
            <h1 class="h1 w-[50%] text-left text-[#fff]">{{bannerList()[currentIndex()].title}}</h1>
            <h3 class="b2 w-[40%] text-left text-[#fff]">{{bannerList()[currentIndex()].description}}</h3>
          }
        </div>
        @if(bannerList() && bannerList()[currentIndex()]){
          <button
            class="lg:w-[300px] mobile:w-full px-[28px] py-[18px] bg-[#fff] rounded-[14px] link text-[#262626] mobile:z-[999]"
            (click)="navigateToBanner(bannerList()[currentIndex()].redirectUrl)">{{bannerList()[currentIndex()].btnText}}</button>
        }
      </div>
      @if(bannerList() && bannerList()[currentIndex()]){
        @if (isLoading()) {
          <app-loader [width]="50" [height]="50" classes="absolute top-1/2 right-[20%]"></app-loader>
        }@else {
          <img class="absolute mobile:absolute lg:right-[0px] md:right-[-320px] md:bottom-0 mobile:bottom-0 mobile:z-[1]"
            [src]="bannerList()[currentIndex()].imgBuffer" alt="Slide">
        }
      }
    </div>
    <div class="w-[100%] flex lg:gap-[24px] md:gap-[16px] buttons">
      @if(bannerList() && bannerList()[currentIndex()]){
        @for(slide of bannerList(); track slide.id; let index = $index){
          <div class="w-[648px] flex justify-center lg:hidden">
            <div class="w-[95%] h-[6px] rounded-[100px] cursor-pointer bg-[#EEEEEE]"
              [ngClass]="{'active-tap': currentIndex() === index, 'inactive-tap': currentIndex() !== index}"
              (click)="setCurrentIndex(index)"></div>
          </div>
          <div
            class="lg:w-1/3 lg:flex p-[2px] border border-solid md:hidden sm:hidden mobile:hidden outer hover:cursor-pointer"
            [ngClass]="{'active-card': currentIndex() === index, 'inactive-card': currentIndex() !== index}"
            (click)="setCurrentIndex(index)">
            <div class="w-[100%] p-[10px] flex relative overflow-hidden inner rounded-[16px]">
              <div class="flex flex-col items-start justify-center gap-[8px] z-[111]">
                <h3 class="b1">{{slide.title}}</h3>
                <h3 class="b5">{{slide.description}}</h3>
              </div>
              @if (isLoading()) {
                <app-loader [width]="30" [height]="30" classes="absolute top-1/2 right-[20px]"></app-loader>
              }@else {
                <img class="w-[160px] h-[120px] absolute top-[5px] right-[-50px]" [src]="slide.imgBuffer" alt="Slide">
              }
            </div>
          </div>
        }
      }
    </div>
  </div>
</section>
