
<div class="flex flex-col gap-[40px] 2xl:px-[130px] xl:px-[130px] lg:px-[50px] md:px-0 sm:px-0 mobile:px-0">
  <div class="flex flex-col gap-[4px]">
    <h2 class="text-[#262626]">{{'auth.passwordPage.title' | transloco}}</h2>
  </div>
  <div class="flex flex-col gap-[16px]">
    <div class="flex gap-[8px]">
<!--      <p class="b6">+9989 00 111 22 33</p>-->
<!--      <button class="b6 text-[#007AFF]">Изменить номер</button>-->
    </div>

    @if(passwordForm){
      <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-[40px]">
        @if(isReg()){
          <div class="flex flex-col gap-[16px]">
            <div class="flex flex-col gap-[8px]">
              <label class="b3 text-[#000000]">{{'auth.passwordPage.password' | transloco}}</label>
              <div class="w-full flex items-center py-[12px] px-[8px] border rounded-[10px] relative">
                <input [type]="showPassword() ? 'text' : 'password'" formControlName="password" class="w-[95%] focus:outline-none"
                       [placeholder]="'auth.passwordPage.placeholder' | transloco">
                <div class="w-[10%]" (click)="togglePasswordVisibility()">
                  <app-ui-svg-icon
                    [path]="showPassword() ? './assets/icons/icons.svg#visibility-off' : './assets/icons/icons.svg#visibility'"
                    [svgClass]="'w-6 h-6 absolute top-[12px] right-3'"
                    aria-hidden="true">
                  </app-ui-svg-icon>
                </div>
              </div>
            </div>
            <a class="reset-password" (click)="navigateToResetPassword()">Забыли пароль?</a>
          </div>

        }

        @if(!isReg()){
          <div class="flex flex-col gap-[20px]">
            <div class="flex flex-col gap-[8px]">
              <label class="b3 text-[#000000]">{{'auth.passwordPage.newPassword' | transloco}}</label>
              <div class="flex flex-col gap-[8px]">
                <div class="w-full flex items-center py-[12px] px-[8px] border rounded-[10px] relative">
                  <input [type]="showPassword() ? 'text' : 'password'" formControlName="password" class="w-[95%] focus:outline-none"
                         [placeholder]="'auth.passwordPage.placeholder' | transloco">
                  <div class="w-[10%]" (click)="togglePasswordVisibility()">
                    <app-ui-svg-icon
                      [path]="showPassword() ? './assets/icons/icons.svg#visibility-off' : './assets/icons/icons.svg#visibility'"
                      [svgClass]="'w-6 h-6 absolute top-[12px] right-3'"
                      aria-hidden="true">
                    </app-ui-svg-icon>
                  </div>
                </div>
                <div class="error_messages">
                  @for(error of error_messages.password; track error.type){
                    @if(passwordForm.get('password')?.hasError(error.type) &&
                    (passwordForm.get('password')?.dirty || passwordForm.get('password')?.touched || passwordForm.errors?.['passwordMismatch'])){
                      <div class="error_message">{{error.message | transloco}}</div>
                    }
                  }
                </div>
              </div>
            </div>


            <div class="flex flex-col gap-[8px]">
              <label class="b3 text-[#000000]">{{'auth.passwordPage.confirmPassword' | transloco}}</label>
              <div class="flex flex-col gap-[8px]">
                <div class="w-full flex items-center py-[12px] px-[8px] border rounded-[10px] relative">
                  <input [type]="showConfirmPassword() ? 'text' : 'password'" formControlName="confirmPassword" class="w-[95%] focus:outline-none"
                         [placeholder]="'auth.passwordPage.placeholder' | transloco">
                  <div class="w-[10%]" (click)="toggleConfirmPasswordVisibility()">
                    <app-ui-svg-icon
                      [path]="showConfirmPassword() ? './assets/icons/icons.svg#visibility-off' : './assets/icons/icons.svg#visibility'"
                      [svgClass]="'w-6 h-6 absolute top-[12px] right-3'"
                      aria-hidden="true">
                    </app-ui-svg-icon>
                  </div>
                </div>
                <div class="error_messages">
                  @for(error of error_messages.confirmPassword; track error.type){
                    @if(passwordForm.get('confirmPassword')?.hasError(error.type) &&
                    (passwordForm.get('confirmPassword')?.dirty || passwordForm.get('confirmPassword')?.touched || passwordForm.errors?.['passwordMismatch'])){
                      <div class="error_message">{{error.message | transloco}}</div>
                    }
                  }
                  @if (passwordForm.errors?.['passwordMismatch'] && passwordForm.get('confirmPassword')?.touched) {
                    <div class="error_message">{{ mismatchError | transloco }}</div>
                  }
                </div>
              </div>
            </div>
          </div>
        }
        <div class="flex flex-col gap-[16px]">
          <button mat-button type="submit"
                  [disabled]="passwordForm.invalid"
                  class="py-[10px] px-[24px] bg-[#27C5D0] text-[#fff] rounded-[10px]"
                  [ngClass]="{'active': passwordForm.valid, 'inactive': !passwordForm.valid}">
            {{'buttonTexts.continue' | transloco}}
          </button>
          <button class="py-[10px] px-[24px] rounded-[10px] border border-[#27C5D0] flex justify-center gap-[16px]" (click)="navigateToOtp()">
            {{'buttonTexts.back' | transloco}}
          </button>
        </div>
      </form>
    }
  </div>
</div>
