:host {
  .error_message {
    color: #FF3333;
  }

  .reset-password {
    color: #007AFF;
    text-decoration: #007AFF;
    cursor: pointer;
  }

  ::ng-deep {
    .mat-mdc-button {
      border-radius: 10px;
    }

    .active.mat-mdc-button {
      background-color: #27c5d0;
    }

    .inactive.mat-mdc-button {
      background-color: #E5E7EA;
    }

    .active.mat-mdc-button .mdc-button__label {
      color: #fff;
      opacity: 1;
    }

    .inactive.mat-mdc-button .mdc-button__label {
      color: #B0B8C1;
      opacity: .5;
    }
  }
}
