<section class="container mx-auto lg:pb-[100px] md:pb-[80px] sm:pb-[60px] mobile:pb-[60px]
                flex flex-col lg:gap-[40px] md:gap-[32px] sm:gap-[32px] mobile:gap-[32px]">
  <h2 class="h2 text-[#262626]">{{"faqPage.title" | transloco}}</h2>
  <div class="">
    <mat-accordion class="flex flex-col lg:gap-[20px] md:gap-[16px] sm:gap-[16px] mobile:gap-[16px]">
      @for(faq of faqList?.items; track faq.id){
        <mat-expansion-panel class="" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
            <mat-expansion-panel-header>
              <mat-panel-title class="h3 text-[#262626]">{{faq.question}}</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="lg:w-[640px] md:w-[600px] flex flex-col gap-[16px]">
              <p class="b3 lg:pt-[27px] md:pt-[24px] sm:pt-[16px] mobile:pt-[16px] text-[#262626]">{{faq.answer}}</p>
            </div>
        </mat-expansion-panel>
      }
    </mat-accordion>
  </div>
</section>
