<section class="container mx-auto lg:pb-[100px] md:pb-[80px] sm:pb-[60px] mobile:pb-[60px]
                flex flex-col lg:gap-[40px] md:gap-[32px] sm:gap-[32px] mobile:gap-[32px]">
  <h2 class="h2 text-[#262626]">{{"faqPage.title" | transloco}}</h2>
  <div class="">
    <mat-accordion class="flex flex-col lg:gap-[20px] md:gap-[16px] sm:gap-[16px] mobile:gap-[16px]">

      <mat-expansion-panel class="" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header>
          <mat-panel-title class="
          h3 text-[#262626]">{{"faqPage.card1.title" | transloco}}</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="lg:w-[640px] md:w-[600px] flex flex-col gap-[16px]">
          <p class="b3 lg:pt-[27px] md:pt-[24px] sm:pt-[16px] mobile:pt-[16px] text-[#262626]">{{"faqPage.card1.text" | transloco}}</p>
          <p class="b3 text-[#262626]">{{"faqPage.card1.list.title" | transloco}}</p>
          <ul class="custom-bullets flex flex-col gap-[16px]">
            <li class="b3 text-[#262626]">{{"faqPage.card1.list.first" | transloco}}</li>
            <li class="b3 text-[#262626]">{{"faqPage.card1.list.second" | transloco}}</li>
            <li class="b3 text-[#262626]">{{"faqPage.card1.list.third" | transloco}}</li>
          </ul>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel class=""  (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header>
          <mat-panel-title class="h3 text-[#262626]">{{"faqPage.card2.title" | transloco}}</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="lg:w-[640px] md:w-[600px] flex flex-col gap-[16px]">
          <p class="b3 lg:pt-[27px] md:pt-[24px] sm:pt-[16px] mobile:pt-[16px] text-[#262626]">{{"faqPage.card2.text" | transloco}}</p>
          <p class="b3 text-[#262626]">{{"faqPage.card2.list.title" | transloco}}</p>
          <ul class="custom-bullets flex flex-col gap-[16px]">
            <li class="b3 text-[#262626]">{{"faqPage.card2.list.first" | transloco}}</li>
            <li class="b3 text-[#262626]">{{"faqPage.card2.list.second" | transloco}}</li>
            <li class="b3 text-[#262626]">{{"faqPage.card2.list.third" | transloco}}</li>
          </ul>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel class=""  (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header>
          <mat-panel-title class="h3 text-[#262626]">{{"faqPage.card3.title" | transloco}}</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="lg:w-[640px] md:w-[600px] flex flex-col gap-[16px]">
          <p class="b3 lg:pt-[27px] md:pt-[24px] sm:pt-[16px] mobile:pt-[16px] text-[#262626]">{{"faqPage.card3.text" | transloco}}</p>
          <p class="b3 text-[#262626]">{{"faqPage.card3.title" | transloco}}</p>
          <ul class="custom-bullets flex flex-col gap-[16px]">
            <li class="b3 text-[#262626]">{{"faqPage.card3.list.first" | transloco}}</li>
            <li class="b3 text-[#262626]">{{"faqPage.card3.list.second" | transloco}}</li>
            <li class="b3 text-[#262626]">{{"faqPage.card3.list.third" | transloco}}</li>
          </ul>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel class=""  (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header>
          <mat-panel-title class="h3 text-[#262626]">{{"faqPage.card4.title" | transloco}}</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="lg:w-[640px] md:w-[600px] flex flex-col gap-[16px]">
          <p class="b3 lg:pt-[27px] md:pt-[24px] sm:pt-[16px] mobile:pt-[16px] text-[#262626]">{{"faqPage.card4.text" | transloco}}</p>
          <p class="b3 text-[#262626]">{{"faqPage.card4.title" | transloco}}</p>
          <ul class="custom-bullets flex flex-col gap-[16px]">
            <li class="b3 text-[#262626]">{{"faqPage.card4.list.first" | transloco}}</li>
            <li class="b3 text-[#262626]">{{"faqPage.card4.list.second" | transloco}}</li>
            <li class="b3 text-[#262626]">{{"faqPage.card4.list.third" | transloco}}</li>
          </ul>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel class=""  (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header>
          <mat-panel-title class="h3 text-[#262626]">{{"faqPage.card5.title" | transloco}}</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="lg:w-[640px] md:w-[600px] flex flex-col gap-[16px]">
          <p class="b3 lg:pt-[27px] md:pt-[24px] sm:pt-[16px] mobile:pt-[16px] text-[#262626]">{{"faqPage.card5.text" | transloco}}</p>
          <p class="b3 text-[#262626]">{{"faqPage.card5.title" | transloco}}</p>
          <ul class="custom-bullets flex flex-col gap-[16px]">
            <li class="b3 text-[#262626]">{{"faqPage.card5.list.first" | transloco}}</li>
            <li class="b3 text-[#262626]">{{"faqPage.card5.list.second" | transloco}}</li>
            <li class="b3 text-[#262626]">{{"faqPage.card5.list.third" | transloco}}</li>
          </ul>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel class=""  (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header>
          <mat-panel-title class="h3 text-[#262626]">{{"faqPage.card6.title" | transloco}}</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="lg:w-[640px] md:w-[600px] flex flex-col gap-[16px]">
          <p class="b3 lg:pt-[27px] md:pt-[24px] sm:pt-[16px] mobile:pt-[16px] text-[#262626]">{{"faqPage.card6.text" | transloco}}</p>
          <p class="b3 text-[#262626]">{{"faqPage.card6.title" | transloco}}</p>
          <ul class="custom-bullets flex flex-col gap-[16px]">
            <li class="b3 text-[#262626]">{{"faqPage.card6.list.first" | transloco}}</li>
            <li class="b3 text-[#262626]">{{"faqPage.card6.list.second" | transloco}}</li>
            <li class="b3 text-[#262626]">{{"faqPage.card6.list.third" | transloco}}</li>
          </ul>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</section>
