
<div class="flex flex-col gap-[40px] 2xl:px-[130px] xl:px-[130px] lg:px-[50px] md:px-0 sm:px-0 mobile:px-0">
  <div class="flex flex-col gap-[4px]">
    <h2 class="text-[#262626]">{{'auth.resetPassword.phone.title' | transloco}}</h2>
  </div>
  <div class="flex flex-col gap-[16px]">
    <form [formGroup]="isPhoneForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-[40px]">
      <div class="flex flex-col gap-[16px]">
        <div class="flex flex-col gap-[8px]">
          <label class="b3 text-[#000000]">{{'auth.resetPassword.phone.inputLabel' | transloco}}</label>
          <div class="flex flex-col gap-[8px]">
            <div class="w-full flex items-center py-[12px] px-[8px] border rounded-[10px] relative">
              <input type="tel" mask="000 00 000 00 00" formControlName="phone" class="w-[95%] focus:outline-none"
                     placeholder="998 00 000 00 00 00"
                     [ngClass]="{'wrong-number':notExistingNumber(), 'right-number':!notExistingNumber()}"
                     (input)="onInputChange()">
            </div>
            <div class="error_messages">
              @for(error of error_messages.phone; track error.type){
                @if(isPhoneForm.get('phone')?.hasError(error.type) &&
                (isPhoneForm.get('phone')?.dirty || isPhoneForm.get('phone')?.touched)){
                  <div class="error_message">{{error.message | transloco}}</div>
                }
              }
              @if(notExistingNumber()){
                <div class="error_message">{{'errorMessages.phoneErrors.wrongNumber' | transloco}}</div>
              }
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-[16px]">
        <button mat-button type="submit"
                [disabled]="isPhoneForm.invalid"
                class="py-[10px] px-[24px] bg-[#27C5D0] text-[#fff] rounded-[10px]"
                [ngClass]="{'active': isPhoneForm.valid, 'inactive': !isPhoneForm.valid}">
          @if (callBtnLoading()){
            <mat-icon>
              <mat-spinner diameter="20"></mat-spinner>
            </mat-icon>
          } @else {
            {{'auth.resetPassword.phone.continue' | transloco}}
          }
        </button>
        <button class="py-[10px] px-[24px] rounded-[10px] border border-[#27C5D0] flex justify-center gap-[16px]"
                (click)="navigateToPasswordPage()">
          {{'auth.resetPassword.phone.back' | transloco}}
        </button>
      </div>
    </form>
  </div>
</div>

