:host{
  .error_message {
    color: #FF3333;
  }

  ::ng-deep {
    .mat-mdc-button {
      border-radius: 10px;
    }

    .active.mat-mdc-button {
      background-color: #27c5d0;
    }

    .inactive.mat-mdc-button {
      background-color: #E5E7EA;
    }

    .active.mat-mdc-button .mdc-button__label {
      color: #fff;
      opacity: 1;
    }

    .inactive.mat-mdc-button .mdc-button__label {
      color: #B0B8C1;
      opacity: .5;
    }

    .mat-mdc-button>.mat-icon {
      width: fit-content;
      height: fit-content;
    }
  }
}
