<section class="container mx-auto
                lg:py-[100px] md:py-[60px] mobile:py-[60px]">
  <div class="lg:flex lg:gap-[36px]">
    <div class="w-[100%] xl:flex xl:flex-col items-stretch
                lg:w-[55%] lg:p-[50px]
                md:p-[40px] sm:p-[24px] mobile:p-[24px]
                bg-[#27C5D0] rounded-[30px]">
      <div class="flex flex-col gap-[16px] lg:pb-[40px] md:pb-[32px] sm:pb-[24px] mobile:pb-[24px]">
        <h2 class="h2 text-[#fff]">{{"questionFormPage.title" | transloco}}</h2>
        <p class="b3 text-[#fff]">{{"questionFormPage.subtitle" | transloco}}</p>
      </div>
      <form class="flex flex-col gap-[24px]">
        <div class="flex flex-col gap-[20px] sm:gap-[16px] mobile:gap-[16px]">
          <input class="px-[20px] py-[18px] lg:bg-[#27C5D0] text-[#fff] lg:border-2 lg:border-solid lg:border-[#fff] md:bg-[#FFFFFF40] sm:bg-[#FFFFFF40] mobile:bg-[#FFFFFF40] md:border-0 rounded-[14px] placeholder:text-[#fff] focus:outline-none" placeholder='{{"questionFormPage.input1" | transloco}}'>
          <input class="px-[20px] py-[18px] lg:bg-[#27C5D0] text-[#fff] lg:border-2 lg:border-solid lg:border-[#fff] md:bg-[#FFFFFF40] sm:bg-[#FFFFFF40] mobile:bg-[#FFFFFF40] md:border-0 rounded-[14px] placeholder:text-[#fff] focus:outline-none" placeholder='{{"questionFormPage.input2" | transloco}}'>
        </div>
        <label class="w-full relative cursor-pointer">
          <input class="checkbox-custom" type="checkbox">
          <div class="relative flex items-center gap-[8px]">
            <p class="b6 text-[#fff]">{{"questionFormPage.condition" | transloco}}</p>
          </div>
        </label>
        <button class="lg:w-[252px] sm:w-full mobile:w-full link text-[#262626] py-[18px] px-[28px] bg-[#fff] rounded-[14px]" type="submit">{{"buttonTexts.orderPhoneBtn" | transloco}}</button>
      </form>
    </div>
    <img class="lg:w-[45%] lg:block md:hidden sm:hidden mobile:hidden" src="./assets/icons/lock.svg" alt="lock icon">
  </div>
</section>
