<footer class="lg:h-[615px] bg-[#F3F3F3] pt-[28px] pb-[24] lg:px-[60px] md:px-[30px] sm:px-[16px] mobile:px-[16px]">
    <div class="container mx-auto">
        <div class="flex lg:flex-row lg:items-center lg:justify-between md:flex-col sm:flex-col mobile:flex-col
                md:gap-[32px] sm:gap-[24px] mobile:gap-[16px]">
            <div class="w-[560px] flex lg:flex-row lg:justify-between md:flex-col sm:flex-col mobile:flex-col
                  md:gap-[32px] sm:gap-[24px] mobile:gap-[16px]">
                <img class="hover:cursor-pointer"
                     ngSrc="./assets/icons/header-logo.svg" alt="footer logo" height="44" width="135">
                <div class="sm:flex-col mobile:flex-col sm:gap-0 mobile:gap-0">
                    <a class="h3 text[#262626]" href="998555204444">+998 55 520 44 44</a>
                    <p class="b3 text-[#5C5C5C]">{{"footerPage.callCenter" | transloco}}</p>
                </div>
            </div>
            <ul class="w-[250px] flex gap-[18px]">
                <li class="flex gap-[18px]">
                  @if(socialList && socialList.items){
                    @for(socials of socialList.items; track  socials.id){
                      <a [href]="socials.url" target="_blank" class="">
                        <img class="" [src]="socials.imageUrl" alt="" loading="lazy">
                      </a>
                    }
                  }
                </li>
            </ul>
        </div>

        <hr class="border solid border-[#E8E8E8] lg:mt-[28px] lg:mb-[20px] md:my-[20px] sm:mb-[16px] mobile:my-[16px]">

        <div class="flex lg:justify-between">
            <div class="w-[100%] lg:hidden  md:flex sm:flex mobile:flex flex-col
                  md:gap-[32px] sm:gap-[32px] mobile:gap-[32px] pb-[32px]">
                <mat-accordion class="lg:hidden md:flex md:flex-col">
                    <mat-expansion-panel class="" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="h3 text-[#262626]">Mybank</mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="sm:w-full mobile:w-full flex flex-col gap-[16px]">
                            <ul class="custom-bullets flex flex-col gap-[16px]">
                                <li class="b3 text-[#5C5C5C]"> <a class="pt-[27px]" href="">{{"footerPage.menuItems.aboutCompany" | transloco}}</a></li>
                                <li class="b3 text-[#5C5C5C]"> <a class="" href="">{{"footerPage.menuItems.news" | transloco}}</a></li>
                                <li class="b3 text-[#5C5C5C]"> <a class="" href="">{{"footerPage.menuItems.vacancy" | transloco}}</a></li>
                                <li class="b3 text-[#5C5C5C]"> <a class="" href="">{{"footerPage.menuItems.contacts" | transloco}}</a></li>
                            </ul>
                        </div>
                    </mat-expansion-panel>

                    <hr class="border solid border-[#E8E8E8] md:my-[20px] sm:my-[16px] mobile:my-[16px]">

                    <mat-expansion-panel class="" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="h3 text-[#262626]">Mybank</mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="sm:w-full mobile:w-full flex flex-col gap-[16px]">
                            <ul class="custom-bullets flex flex-col gap-[16px]">
                                <li class="b3 text-[#5C5C5C]"> <a class="pt-[27px]" href="">{{"footerPage.menuItems.aboutCompany" | transloco}}</a></li>
                                <li class="b3 text-[#5C5C5C]"> <a class="" href="">{{"footerPage.menuItems.news" | transloco}}</a></li>
                                <li class="b3 text-[#5C5C5C]"> <a class="" href="">{{"footerPage.menuItems.vacancy" | transloco}}</a></li>
                                <li class="b3 text-[#5C5C5C]"> <a class="" href="">{{"footerPage.menuItems.contacts" | transloco}}</a></li>
                            </ul>
                        </div>
                    </mat-expansion-panel>

                    <hr class="border solid border-[#E8E8E8] md:my-[20px] sm:my-[16px] mobile:my-[16px]">

                    <mat-expansion-panel class="" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="h3 text-[#262626]">Mybank</mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="sm:w-full mobile:w-full flex flex-col gap-[16px]">
                            <ul class="custom-bullets flex flex-col gap-[16px]">
                                <li class="b3 text-[#5C5C5C]"> <a class="pt-[27px]" href="">{{"footerPage.menuItems.aboutCompany" | transloco}}</a></li>
                                <li class="b3 text-[#5C5C5C]"> <a class="" href="">{{"footerPage.menuItems.news" | transloco}}</a></li>
                                <li class="b3 text-[#5C5C5C]"> <a class="" href="">{{"footerPage.menuItems.vacancy" | transloco}}</a></li>
                                <li class="b3 text-[#5C5C5C]"> <a class="" href="">{{"footerPage.menuItems.contacts" | transloco}}</a></li>
                            </ul>
                        </div>
                    </mat-expansion-panel>

                    <hr class="border solid border-[#E8E8E8] md:my-[20px] sm:my-[16px] mobile:my-[16px]">

                    <mat-expansion-panel class="" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="h3 text-[#262626]">Mybank</mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="sm:w-full mobile:w-full flex flex-col gap-[16px]">
                            <ul class="custom-bullets flex flex-col gap-[16px]">
                                <li class="b3 text-[#5C5C5C]"> <a class="pt-[27px]" href="">{{"footerPage.menuItems.aboutCompany" | transloco}}</a></li>
                                <li class="b3 text-[#5C5C5C]"> <a class="" href="">{{"footerPage.menuItems.news" | transloco}}</a></li>
                                <li class="b3 text-[#5C5C5C]"> <a class="" href="">{{"footerPage.menuItems.vacancy" | transloco}}</a></li>
                                <li class="b3 text-[#5C5C5C]"> <a class="" href="">{{"footerPage.menuItems.contacts" | transloco}}</a></li>
                            </ul>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>

                <div class="lg:hidden md:flex sm:flex mobile:flex items-stretch gap-[16px]">
                    <img class="" ngSrc="./assets/icons/footer-logo.svg" alt="" height="60" width="60">
                    <div class="mobile:w-[178px] sm:w-[209px] b5 text-[#262626]">{{"footerPage.menuItems.installApp.text1" | transloco}}
                        <a class="underline text-[#060563]" href="https://www.apple.com/app-store/">IOS</a> {{"footerPage.menuItems.installApp.text2" | transloco}}
                        <a class="underline text-[#060563]" href="https://play.google.com/store/apps/details?id=com.google.android.finsky&hl=en&pli=1">Android</a>
                    </div>
                </div>
            </div>

            <div class="lg:flex md:hidden sm:hidden mobile:hidden lg:w-2/3 md:w-[741px] lg:justify-between">
                <div class="flex flex-col gap-[16px]">
                    <h2 class="h4 text-[#262626]">Mybank</h2>
                    <ul class="flex flex-col gap-[12px]">
                        <li class=""><a class="b3 text-[#5C5C5C]">{{"footerPage.menuItems.aboutCompany" | transloco}}</a></li>
                        <li class=""><a class="b3 text-[#5C5C5C]">{{"footerPage.menuItems.news" | transloco}}</a></li>
                        <li class=""><a class="b3 text-[#5C5C5C]">{{"footerPage.menuItems.vacancy" | transloco}}</a></li>
                        <li class=""><a class="b3 text-[#5C5C5C]">{{"footerPage.menuItems.contacts" | transloco}}</a></li>
                        <li class=""><a class="b3 text-[#5C5C5C]">{{"footerPage.menuItems.bankOffices" | transloco}}</a></li>
                    </ul>
                </div>
                <div class="flex flex-col gap-[16px]">
                    <h2 class="h4 text-[#262626]">{{"footerPage.menuItems.physics.title" | transloco}}</h2>
                    <ul class="flex flex-col gap-[12px]">
                        <li class=""><a class="b3 text-[#5C5C5C]">{{"footerPage.menuItems.physics.swift" | transloco}}</a></li>
                        <li class=""><a class="b3 text-[#5C5C5C]">{{"footerPage.menuItems.physics.bankCards" | transloco}}</a></li>
                        <li class=""><a class="b3 text-[#5C5C5C]">{{"footerPage.menuItems.physics.microLoan" | transloco}}</a></li>
                        <li class=""><a class="b3 text-[#5C5C5C]">{{"footerPage.menuItems.physics.carLoans" | transloco}}</a></li>
                        <li class=""><a class="b3 text-[#5C5C5C]">{{"footerPage.menuItems.physics.deposits" | transloco}}</a></li>
                        <li class=""><a class="b3 text-[#5C5C5C]">{{"footerPage.menuItems.physics.exchange" | transloco}}</a></li>
                        <li class=""><a class="b3 text-[#5C5C5C]">{{"footerPage.menuItems.physics.oneTimePayment" | transloco}}</a></li>
                        <li class=""><a class="b3 text-[#5C5C5C]">{{"footerPage.menuItems.physics.communalServices" | transloco}}</a></li>
                    </ul>
                </div>
                <div class="flex flex-col gap-[16px]">
                    <h2 class="h4 text-[#262626]">{{"footerPage.menuItems.business.title" | transloco}}</h2>
                    <ul class="flex flex-col gap-[12px]">
                        <li class=""><a class="b3 text-[#5C5C5C]">{{"footerPage.menuItems.business.collaboration" | transloco}}</a></li>
                        <li class=""><a class="b3 text-[#5C5C5C]">{{"footerPage.menuItems.business.credits" | transloco}}</a></li>
                        <li class=""><a class="b3 text-[#5C5C5C]">{{"footerPage.menuItems.business.grants" | transloco}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="lg:flex md:hidden sm:hidden mobile:hidden lg:w-[250px] lg:items-end lg:flex-col lg:gap-[76px]">
                <div class="w-[250px] flex flex-col gap-[16px]">
                    <h2 class="h4 text-[#262626]">{{"footerPage.menuItems.supportClients.title" | transloco}}</h2>
                    <ul class="custom-bullets flex flex-col gap-[12px]">
                        <li class=""><a class="b3 text-[#5C5C5C]">{{"footerPage.menuItems.supportClients.support" | transloco}}</a></li>
                        <li class=""><a class="b3 text-[#5C5C5C]">{{"footerPage.menuItems.supportClients.siteMap" | transloco}}</a></li>
                        <li class=""><a class="b3 text-[#5C5C5C]">{{"footerPage.menuItems.supportClients.securityRules" | transloco}}</a></li>
                        <li class=""><a class="b3 text-[#5C5C5C]">{{"footerPage.menuItems.supportClients.personalData" | transloco}}</a></li>
                    </ul>
                </div>
                <div class="flex gap-[14px]">
                    <img class="" ngSrc="./assets/icons/footer-logo.svg" alt="" height="60" width="60">
                    <div class="b5 text-[#262626]">{{"footerPage.menuItems.installApp.text1" | transloco}}
                        <a class="underline text-[#060563]" href="https://www.apple.com/app-store/">IOS</a> {{"footerPage.menuItems.installApp.text2" | transloco}}
                        <a class="underline text-[#060563]" href="https://play.google.com/store/apps/details?id=com.google.android.finsky&hl=en&pli=1">Android</a>
                    </div>
                </div>
            </div>
        </div>

        <hr class="lg:block md:hidden border solid border-[#E8E8E8]
               lg:mt-[32px] lg:mb-[40px] md:mt-[20px] md:mb-[32px] sm:mb-[32px] mobile:mb-[32px]">
        <div class="md:pb-[24px] sm:pb-[16px] mobile:pb-[16px] text-left b5 text-[#626262]">
            {{"footerPage.menuItems.copyRights" | transloco}}
        </div>
    </div>
</footer>
