<section class="container mx-auto flex flex-col
                lg:gap-[40px] md:gap-[32px] sm:gap-[32px] mobile:gap-[32px]">
  <h1 class="h1 text-[#262626]">{{"gettingCreditPage.title" | transloco}}</h1>
  <div class="flex flex-col justify-start lg:gap-[32px] md:gap-[24px] sm:gap-[16px] mobile:gap-[16px]">
<!--    <div class="custom-scroll flex justify-between p-[8px] bg-[#ECECEC] rounded-[20px] overflow-x-scroll">-->
<!--      <button class="b2 min-w-max px-[18px] py-[10px] text-[#262626] bg-[#fff] rounded-[12px]">{{"gettingCreditPage.buttons.description" | transloco}}</button>-->
<!--      <button class="b2 min-w-max px-[18px] py-[10px] text-[#262626]">{{"gettingCreditPage.buttons.take" | transloco}}</button>-->
<!--      <button class="b2 min-w-max px-[18px] py-[10px] text-[#262626]">{{"gettingCreditPage.buttons.docs" | transloco}}</button>-->
<!--      <button class="b2 min-w-max px-[18px] py-[10px] text-[#262626]">{{"gettingCreditPage.buttons.repayment" | transloco}}</button>-->
<!--      <button class="b2 min-w-max px-[18px] py-[10px] text-[#262626]">{{"gettingCreditPage.buttons.tariffs" | transloco}}</button>-->
<!--      <button class="b2 min-w-max px-[18px] py-[10px] text-[#262626]">{{"gettingCreditPage.buttons.tariffs" | transloco}}</button>-->
<!--      <button class="b2 min-w-max px-[18px] py-[10px] text-[#262626]">{{"gettingCreditPage.buttons.tariffs" | transloco}}</button>-->
<!--      <button class="b2 min-w-max px-[18px] py-[10px] text-[#262626]">{{"gettingCreditPage.buttons.tariffs" | transloco}}</button>-->
<!--    </div>-->
    <div class="flex flex-col lg:gap-[24px] md:gap-[16px] sm:gap-[16px] mobile:gap-[16px]">
      @if(gettingCreditsList){
        <div class="lg:flex lg:gap-[24px]
                 md:grid md:grid-cols-2 sm:grid sm:grid-cols-2 mobile:grid mobile:grid-cols-1
                 md:gap-[16px] sm:gap-[16px] mobile:gap-[16px]">
          @for(item of gettingCreditsList.productAdvantages; track item; ){
            <div class="w-full p-[32px] bg-[#fff]
                   lg:rounded-[30px] sm:rounded-[30px] mobile:rounded-[24px]
                   flex 2xl:flex-col xl:flex-col md:flex-col sm:flex-row mobile:flex-row
                   sm:items-center mobile:items-center sm:gap-[24px] mobile:gap-[24px]">
              <img class="pb-[20px] sm:p-0 mobile:p-0" [src]="item.imageUrl" alt="car icon" loading="lazy"
                   height="32" width="32">
              <div class="flex flex-col gap-[8px]">
                <h3 class="h3 text-[#262626]">{{item.title}} 25%</h3>
                <p class="b3 text-gradient">{{item.content}}</p>
              </div>
            </div>
          }
        </div>
        <div class="px-[40px] pt-[40px] pb-[55px] bg-[#fff] rounded-[30px] flex flex-col gap-[24px]">
          @for(item of gettingCreditsList.infoChunks; track item){
            <h3 class="h3 text-[#262626]">{{item.title}}</h3>
            <ul class="custom-bullets flex flex-col gap-[8px]">
              <li class="b3 text-gradient">{{item.content}}</li>
            </ul>
          }
        </div>
      }
    </div>
  </div>
</section>

