<div class="flex flex-col gap-[26px] 2xl:px-[130px] xl:px-[130px] lg:px-[50px] md:px-0 sm:px-0 mobile:px-0">
    <div class="flex flex-col gap-[4px]">
        <h2 class="h2 text-[#262626]">Код подтверждения</h2>
        <p class="b3 text-[#626262]">отправлено смс-сообщение с кодом подтверждения. Введите код и нажмите «Подтвердить»</p>
    </div>
    <p class=""> {{phoneNumber()}} </p>
    <form [formGroup]="otpForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-[26px]">
        <div class="flex flex-col gap-[16px]">
            <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" [config]="config"
                          [ngClass]="{'wrong-number':otpNumberColor(), 'right-number':!otpNumberColor()}">
            </ng-otp-input>
            @if(timer() > 0) {
              <div class="">Запросить СМС можно снова через: {{ timer() }} сек</div>
            } @else {
              <div class="text-[#FF3333]">Ended time interval. Click the resend opt button !</div>
            }
        </div>
        <div class="flex flex-col gap-[16px]">
            @if(timer() > 0){
              <button mat-button type="submit" class="py-[10px] px-[24px] rounded-[10px] bg-[#27C5D0] text-[#fff]"
                      [disabled]="otpForm.invalid"
                      [ngClass]="{'active': otpForm.valid, 'inactive': !otpForm.valid}">
                  Подтвердить
              </button>
            } @else {
              <button mat-button class="resend-otp py-[10px] px-[24px] rounded-[10px] bg-[#27C5D0] text-[#fff]" (click)="resendOtp()">
                  resend otp
              </button>
            }
            <button class=" py-[10px] px-[24px] rounded-[10px] border border-[#27C5D0] flex justify-center gap-[16px]" (click)="navigateToLogin()">Назад</button>
        </div>
    </form>
</div>
