<div class="flex flex-col gap-[26px] 2xl:px-[130px] xl:px-[130px] lg:px-[50px] md:px-0 sm:px-0 mobile:px-0">
    <div class="flex flex-col gap-[4px]">
        <h2 class="h2 text-[#262626]">{{'auth.otp.title' | transloco}}</h2>
        <p class="b3 text-[#626262]">{{'auth.otp.subTitle' | transloco}}</p>
    </div>
    <p class=""> {{phoneNumber()}} </p>
    <form [formGroup]="otpForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-[26px]">
        <div class="flex flex-col gap-[16px]">
          <div class="flex justify-between otp-input-group">
            <input *ngFor="let value of otpInputs; let i = index; trackBy: trackByIndex"
              type="text"
              maxlength="1"
              class="2xl:w-[70px] 2xl:h-[70px] xl:w-[50px] xl:h-[50px]
                     lg:w-[50px] lg:h-[50px] md:w-[90px] md:h-[90px]
                     sm:w-[80px] sm:h-[80px] mobile:w-[50px] mobile:h-[50px] otp-input"
                   [value]="otpInputs[i]"
                   (input)="onOtpInput($event, i)"
                   (keydown)="onKeydown($event, i)"
                   [ngClass]="{
                      'wrong-number': otpNumberColor() === false && otpInputs[i] !== '',
                      'right-number': otpNumberColor() === true,
                      'default-color': otpInputs[i] === '' || otpNumberColor() === null
                   }"/>
          </div>
            @if(timer() > 0) {
              <div class="py-[5px] text-[#626262]">
                {{'auth.otp.timerText.first' | transloco}}
                <span class="text-[#007AFF] pr-[5px]"> {{ timer() }}</span>
                <span class="text-[#262626]">{{'auth.otp.timerText.seconds' | transloco}}</span>
              </div>
            } @else {
              <div class="py-[5px] text-[#FF3333]">{{'auth.otp.errors.resendOtp' | transloco}}</div>
            }
        </div>
        <div class="flex flex-col gap-[16px]">
            @if(timer() > 0){
              <button mat-button type="submit" class="py-[10px] px-[24px] rounded-[10px] bg-[#27C5D0] text-[#fff]"
                      [disabled]="otpForm.invalid"
                      [ngClass]="{'active': otpForm.valid, 'inactive': !otpForm.valid}">
                  {{'auth.otp.buttons.confirm' | transloco}}
              </button>
            } @else {
              <button mat-button class="resend-otp py-[10px] px-[24px] rounded-[10px] bg-[#27C5D0] text-[#fff]" (click)="resendOtp()">
                  {{'auth.otp.buttons.resend' | transloco}}
              </button>
            }
            <button class=" py-[10px] px-[24px] rounded-[10px]
                            border border-[#27C5D0] flex justify-center gap-[16px]"
                    (click)="navigateToLogin()">{{'auth.otp.buttons.back' | transloco}}</button>
        </div>
    </form>
</div>
