<section class="container mx-auto pt-[40px] pb-[60px] flex flex-col gap-[40px]">
    <h1 class="h1 text-[#262626]">{{ 'catalogSortingSection.title' | transloco}}</h1>
    <div class="flex 2xl:flex-row xl:flex-row lg:flex-col md:flex-col sm:flex-col mobile:flex-col gap-[24px]">
        <div class="2xl:w-3/4 xl:w-3/4 lg:w-full md:w-full p-[24px] flex flex-col gap-[20px] bg-[#F3F3F3] rounded-[16px]">
            <div class="2xl:w-[34%] xl:w-[45%] lg:w-[40%] md:w-[50%] sm:w-[60%] mobile:w-full flex gap-[2px] p-[6px] border border-solid border-[#E8E8E8] rounded-[12px]">
              @for(menu of carModelMenu; track menu){
                <button
                  class="b3 px-[18px] py-[10px] btn_animation"
                  [ngClass]="{'bg-[#fff] lg:rounded-[16px] md:rounded-[12px] mobile:rounded-[12px]': menu === activeModel}"
                  (click)="remainSelectedModel(menu)">
                  {{ menu.valueTranslate | titlecase }}
                </button>
              }
            </div>

            <!--===== DESKTOP SCREEN SIZE FORM 1024 and larger =====-->
          <form #sortingForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="2xl:block xl:block lg:hidden md:hidden sm:hidden mobile:block">
              <div class="w-full flex 2xl:flex-row xl:flex-row mobile:flex-col gap-[12px]">
                <div class="w-full flex flex-col gap-[12px] first-child">
                  <div class="grid grid-cols-3 gap-x-4 gap-y-8">

                    <div *ngFor="let select of sortingCategories; let i = index" class="flex flex-col gap-[8px]">
                      <!-- Condition for TEXT componentType -->
                      <ng-container *ngIf="select.componentType === 'TEXT'">
                        <mat-form-field>
                          <mat-label>{{ select.title }}</mat-label>
                          <input matInput [(ngModel)]="sortingFormSelections[i].value" name="sortingFormSelections{{i}}" />
                          <input type="hidden" [value]="select.id" [(ngModel)]="sortingFormSelections[i].filterId" name="filterId{{i}}" />
                        </mat-form-field>
                      </ng-container>

                      <ng-container *ngIf="select.componentType === 'MULTI_SELECT'">
                        <mat-form-field class="relative">
                          <mat-label>{{ select.title }}</mat-label>
                          <app-ui-svg-icon path="./assets/icons/icons.svg#arrow-down" svgClass="w-6 h-6 absolute right-[-10px] top-[18px]"></app-ui-svg-icon>
                          <mat-select [(ngModel)]="sortingFormSelections[i].value" name="sortingFormSelections{{i}}">
                            <mat-option *ngFor="let item of select.values" [value]="item.value">{{ item.value }}</mat-option>
                          </mat-select>
                          <input type="hidden" [value]="select.id" [(ngModel)]="sortingFormSelections[i].filterId" name="filterId{{i}}"/>
                        </mat-form-field>
                      </ng-container>

                      <ng-container *ngIf="select.componentType === 'ARRANGE'">
                        <!-- WITH pairFilter -->
                        <div *ngIf="select.pairFilter" class="flex items-center gap-[10px] bg-[#fff] rounded-[10px]">
                          <mat-form-field>
                            <mat-label>{{ select.title }} from</mat-label>
                            <input matInput [(ngModel)]="sortingFormSelections[i].from" name="sortingFormFrom{{i}}" />
                            <input type="hidden" [value]="select.id" [(ngModel)]="sortingFormSelections[i].filterId" name="filterId{{i}}" />
                          </mat-form-field>
                          <mat-form-field>
                            <mat-label>{{ select.title }} to</mat-label>
                            <input matInput [(ngModel)]="sortingFormSelections[i].to" name="sortingFormTo{{i}}" />
                            <input type="hidden" [value]="select.id" [(ngModel)]="sortingFormSelections[i].filterId" name="filterId{{i}}" />
                          </mat-form-field>

                          <!-- Dropdown for SELECT type inside pairFilter -->
                          <mat-form-field *ngIf="sortingFormSelections[i].pairFilter?.values">
                            <mat-label>{{ sortingFormSelections[i].pairFilter?.title }}</mat-label>
                            <app-ui-svg-icon path="./assets/icons/icons.svg#arrow-down" svgClass="w-6 h-6 absolute right-[-10px] top-[18px]"></app-ui-svg-icon>
                            <mat-select [(ngModel)]="sortingFormSelections[i].value" name="pairFilter{{i}}">
                              <mat-option *ngFor="let item of sortingFormSelections[i].pairFilter?.values" [value]="item.id">
                                {{ item.value }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>

                        <!-- If no pairFilter, display only the range inputs -->
                        <div *ngIf="!select.pairFilter" class="flex items-center gap-[10px] bg-[#fff] rounded-[10px]">
                          <mat-form-field>
                            <mat-label>{{ select.title }} from</mat-label>
                            <input matInput [(ngModel)]="sortingFormSelections[i].from" name="sortingFormFrom{{i}}" />
                            <input type="hidden" [value]="select.id" [(ngModel)]="sortingFormSelections[i].filterId" name="filterId{{i}}" />
                          </mat-form-field>
                          <mat-form-field>
                            <mat-label>{{ select.title }} to</mat-label>
                            <input matInput [(ngModel)]="sortingFormSelections[i].to" name="sortingFormTo{{i}}" />
                          </mat-form-field>
                        </div>
                      </ng-container>

                      <!-- Condition for SELECT componentType with no pairFilter -->
                      <ng-container *ngIf="select.componentType === 'SELECT'">
                        <mat-form-field class="relative">
                          <mat-label>{{ select.title }}</mat-label>
                          <app-ui-svg-icon path="./assets/icons/icons.svg#arrow-down" svgClass="w-6 h-6 absolute right-[-10px] top-[18px]"></app-ui-svg-icon>
                          <mat-select [(ngModel)]="sortingFormSelections[i].value" name="sortingFormSelections{{i}}">
                            <mat-option *ngFor="let item of select.values" [value]="item.value">{{ item.value }}</mat-option>
                          </mat-select>
                          <input type="hidden" [value]="select.id" [(ngModel)]="sortingFormSelections[i].filterId" name="filterId{{i}}"/>
                        </mat-form-field>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>

              <div class="w-full flex flex-col gap-[32px] pt-[10px]">
                <div class="2xl:w-2/3 xl:w-2/3 mobile:w-full">
                </div>
                <div class="w-full flex 2xl:flex-row xl:flex-row mobile:flex-col justify-between">
                  <div class="flex items-center gap-[16px] py-[10px] px-[4px]">
                  </div>

                  <div class="flex 2xl:flex-row xl:flex-row mobile:flex-col gap-[12px]">
                    <button class="py-[10px] px-[63px] border border-solid border-[#27C5D0] text-[#27C5D0] rounded-[14px]" (click)="clearSortingForm()">{{'catalogSortingSection.button.clear' | transloco}}</button>
                    <button type="submit" class="py-[10px] px-[63px] bg-[#27C5D0] rounded-[14px] text-[#fff]">{{'catalogSortingSection.button.show' | transloco}}</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="2xl:w-1/4 xl:w-1/4 lg:w-full md:w-full p-[24px] bg-[#E3FBFC] rounded-[16px]">
            <h4 class="h4 pb-[16px]">{{'catalogSortingSection.sideForm.title' | transloco}}</h4>
            <form [formGroup]="pricingFrom" class="flex flex-col gap-[12px] pb-[16px]" (ngSubmit)="pricingSubmit()">
                <div class="w-full flex 2xl:flex-col xl:flex-col lg:flex-row md:flex-row mobile:flex-col gap-[12px]">
                    <input class="2xl:w-full xl:w-full lg:w-1/2 md:w-1/2
                                  border border-solid border-[#fff] bg-[#fff] text-[#000]
                                  py-[8px] px-[12px] rounded-[10px] focus:outline-none"
                           placeholder="VIN или гос.номер" formControlName="vinNomer">
                    <input class="2xl:w-full xl:w-full lg:w-1/2 md:w-1/2
                                  border border-solid border-[#fff] bg-[#fff] text-[#000]
                                  py-[8px] px-[12px] rounded-[10px] focus:outline-none"
                           placeholder="Пробег, км" formControlName="probeg">
                </div>
                <button type="submit" class="px-[24px] py-[10px] rounded-[14px] bg-[#27C5D0] text-[#fff] link" [disabled]="pricingFrom.invalid">{{'catalogSortingSection.sideForm.button' | transloco}}</button>
            </form>
            <p class="w-[100%] text-center p-[8px] text-[#A1A1A1] link">{{'catalogSortingSection.sideForm.subText' | transloco}}</p>
        </div>
    </div>
</section>
