<div class="flex flex-col gap-[40px] px-[130px]">
    <div class="flex flex-col gap-[4px]">
        <h2 class="text-[#262626]">Введите пароль</h2>
    </div>
    <div class="flex flex-col gap-[16px]">
        <div class="flex gap-[8px]">
            <p class="b6">+9989 00 111 22 33</p>
            <button class="b6 text-[#007AFF]"> Изменить номер</button>
        </div>

        <!-- Only render form when passwordForm is initialized -->
        <form *ngIf="passwordForm" [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-[40px]">
            <div *ngIf="isReg">
                <label>Пароль</label>
                <div class="w-full flex items-center py-[12px] px-[8px] border rounded-[10px] relative">
                    <input [type]="showPassword ? 'text' : 'password'" formControlName="password" class="w-[95%] focus:outline-none">
                    <div class="w-[10%]" (click)="togglePasswordVisibility()">
                        <app-ui-svg-icon [path]="showPassword ? './assets/icons/icons.svg#visibility-off' : './assets/icons/icons.svg#visibility'" [svgClass]="'w-6 h-6 absolute top-[12px] right-3'" aria-hidden="true"></app-ui-svg-icon>
                    </div>
                </div>
            </div>

            <div *ngIf="!isReg">
                <label>Новый Пароль</label>
                <div class="w-full flex items-center py-[12px] px-[8px] border rounded-[10px] relative">
                    <input [type]="showPassword ? 'text' : 'password'" formControlName="password" class="w-[95%] focus:outline-none">
                    <div class="w-[10%]" (click)="togglePasswordVisibility()">
                        <app-ui-svg-icon [path]="showPassword ? './assets/icons/icons.svg#visibility-off' : './assets/icons/icons.svg#visibility'" [svgClass]="'w-6 h-6 absolute top-[12px] right-3'" aria-hidden="true"></app-ui-svg-icon>
                    </div>
                </div>

                <label>Подтвердите Пароль</label>
                <div class="w-full flex items-center py-[12px] px-[8px] border rounded-[10px] relative">
                    <input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword" class="w-[95%] focus:outline-none">
                    <div class="w-[10%]" (click)="toggleConfirmPasswordVisibility()">
                        <app-ui-svg-icon [path]="showConfirmPassword ? './assets/icons/icons.svg#visibility-off' : './assets/icons/icons.svg#visibility'" [svgClass]="'w-6 h-6 absolute top-[12px] right-3'" aria-hidden="true"></app-ui-svg-icon>
                    </div>
                </div>
            </div>

            <div class="flex flex-col gap-[16px]">
                <button type="submit" class="py-[10px] px-[24px] bg-[#27C5D0] text-[#fff] rounded-[10px]" [disabled]="passwordForm.invalid">
                Продолжить
            </button>
                <button class="py-[10px] px-[24px] rounded-[10px] border border-[#27C5D0] flex justify-center gap-[16px]">
                Назад
            </button>
            </div>
        </form>
    </div>
</div>
