<section class="container mx-auto flex flex-col gap-[40px] pb-[108px]">
    <h1 class="h1 text-[#262626]">{{"recommendationPage.title" | transloco}}</h1>
    <div class="w-[100%] flex flex-col lg:gap-[22px] md:gap-[32px] sm:gap-[24px] mobile:gap-[24px]">
        <div class="grid lg:grid-cols-3 md:grid-cols-2 lg:gap-[24px] md:gap-[16px] sm:gap-[16px] mobile:gap-[16px]">
            @if(carCards && carCards.items){ @for(car of carCards.items; track car){
            <div class="rounded-[30px] bg-[#F7F7F7]" (click)="openCardContent(car.productId)">
                <div class="relative z-[1]">
                    <img class="absolute top-[18px] right-[18px] z-[100]" src="./assets/icons/star.svg" alt="star icon" />
                    <div class="rounded-[30px] overflow-hidden">
                        <img class="w-full image" [src]="car.imageLink ? car.imageLink : 'assets/images/missing-img.png'" alt="">
                    </div>
                    <div class="flex gap-[10px] absolute bottom-[20px] left-[20px] z-[9999]">
                        <p class="b6 px-[12px] py-[5px] bg-[#27C5D0] text-[#fff] rounded-[30px]">{{"recommendationPage.withMileage" | transloco}}</p>
                        <p class="b6 px-[12px] py-[5px] bg-[#F3F3F3CC] text-[#626262] rounded-[30px]">{{"recommendationPage.inStock" | transloco}}</p>
                    </div>
                </div>
                <div class="lg:pt-[24px] lg:pb-[28px] lg:px-[28px] md:p-[20px] sm:p-[20px] mobile:p-[20px]">
                    <h2 class="b1 pb-[8px] text[#262626]">{{car.name}}</h2>
                    <h3 class="static-h3 pb-[4px] text-[#262626]">{{car.price.amount}} {{car.price.currency}}</h3>
                    <h3 class="b4 pb-[12px] text-[#27C5D0]">
                        {{"recommendationPage.monthlyPay.from" | transloco}} 3 587 300 UZS/{{"recommendationPage.monthlyPay.monthly" | transloco}}
                    </h3>
                    <div class="w-full flex gap-[8px] sm:gap-[16px]">
                        <p class="b6 text-[#262626]">2024 {{"recommendationPage.year" | transloco}},</p>
                        <p class="b6 text-[#262626]">92 000 {{"recommendationPage.km" | transloco}},</p>
                        <p class="b6 text-[#262626]">{{"recommendationPage.fuelType" | transloco}},</p>
                        <p class="b6 text-[#262626]">{{"recommendationPage.gearBox" | transloco}}</p>
                    </div>
                </div>
            </div>
            } @empty {
            <div>There is no data</div>
            } }
        </div>
        <button class=" custom b4 bg-[#27C5D0] 2xl:w-1/5l xl:w-1/5 lg:w-1/5 md:w-full sm:w-full mobile:w-full lg:rounded-[15px] md:rounded-[14px] sm:rounded-[14px] mobile:rounded-[14px] lg:py-[16px] md:py-[18px] sm:py-[18px] mobile:py-[18px] lg:px-[28px]
                md:px-[28px] sm:px-[28px] mobile:px-[28px] text-[#fff] " (click)="navigateToCatalogPage() ">{{"buttonTexts.recommendationBtn " | transloco}}</button>
    </div>
</section>
