<div class="flex flex-col gap-[26px] px-[130px]">
    <div class="flex flex-col gap-[4px]">
        <h2 class="text-[#262626]">Код подтверждения</h2>
        <h4 class="h4 text-[#626262]">отправлено смс-сообщение с кодом подтверждения. Введите код и нажмите «Подтвердить»</h4>
    </div>
    <div class="flex flex-col gap-[8px]">
        <h4 class="h4">Отправили СМС на</h4>
        <p class=""> {{phone}} </p>
    </div>
    <form [formGroup]="otpForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-[26px]">
        <div class="flex flex-col gap-[16px]">
            <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>
            <div>Запросить СМС можно снова через: 60 сек</div>
        </div>
        <div class="flex flex-col gap-[16px]">
            <button type="submit" class="py-[10px] px-[24px] rounded-[10px] bg-[#27C5D0] text-[#fff]" [disabled]="otpForm.invalid">Подтвердить</button>
            <button class=" py-[10px] px-[24px] rounded-[10px] border border-[#27C5D0] flex justify-center gap-[16px] " (click)="navigateToLoginMeth() ">Назад</button>
        </div>
    </form>
</div>